@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  scroll-behavior: smooth;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: #F6F6F5;
    scroll-behavior: smooth;
}
input,select{
  outline: none;
}
.batch_heart{
  background: tomato;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  right: -24%;
  top: -9%;
  cursor: pointer;
}

.custom-input {
  /* Define the default border color */
  border-color: none; /* or any other default color */

  /* Define the default box shadow */
  box-shadow: none; /* or any other default shadow */

  /* Define the default label color */
  color: none; /* or any other default color */
}

/* Customize the focus color and box shadow when input is focused */
.custom-input:focus-within,
.custom-input:hover {
  border-color: #006665; /* Change this color to the desired color */
  box-shadow: none; /* Change this shadow to the desired style */
}


/* Remove default styles from the date picker */
.ant-picker {
  box-shadow: none !important; /* Remove default box shadow */ 
}

/* Apply hover color to the date picker */
.ant-picker:hover,
.ant-picker:focus-within {
  border-color: #006665; /* Example hover background color */
}


/* Remove default styles from the select dropdown */
.ant-select-selector {
  box-shadow: none !important; /* Remove default box shadow */
}

/* Apply custom styles to the select dropdown */
.custom-select .ant-select-selector {
  border-radius: 100px; /* Example border radius */
  padding: 8px 12px; /* Example padding */
  font-size: 16px; /* Example font size */
  color: #333; /* Example text color */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: border-color 0.3s; /* Smooth transition */
}

/* Apply hover color to the select dropdown */
.custom-select:hover .ant-select-selector,
.custom-select:focus-within .ant-select-selector {
  border-color: #006665 !important; /* Example hover background color */
}


/* Remove default styles from the Ant Design Upload component */
.ant-upload {
  border-color: transparent !important; /* Remove default border color */
}

/* Apply hover color to the Ant Design Upload component */
.ant-upload:hover {
  border-color: #006665 !important; /* Example hover border color */
}
.ant-upload:focus-visible {
  border-color: #006665 !important; /* Example focus border color */
}


.custom-ok-button-class {
  background-color: #006665 !important; /* Override default browser styles */
  color: #fff !important; /* Change text color if needed */
  border-color: transparent !important; /* Set border color to transparent */
}
.custom-ok-button-class:hover {
  background-color: #077773 !important; /* Change to your desired color on hover */
  border-color: #006665 !important; /* Change border color if needed */
}
.custom-cancel-button-class {
  background-color: transparent !important; /* Override default browser styles */
  color: none;
}
.custom-cancel-button-class:hover {
  border-color: #006665 !important; /* Change border color if needed */
  color:#006665 !important;
}


.small-modal {
  width: 400px !important;
  height: 200px !important;
}

/* EventContainer.css */

.event-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the minmax value as needed */
  gap: 20px;
}

.event-card {
  width: 100%;
}

.event-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.event-image {
  width: 300px; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
}

.event-details {
  width: 100%;
}

.event-no-events {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.custom-select1 {
  appearance: none; /* Remove default arrow */
  padding-right: 2rem; /* Add padding for arrow */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%232f2e41" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 9l6 6 6-6" /></svg>'); /* Add custom arrow */
  background-repeat: no-repeat;
  background-position: right 0.5rem center; /* Position arrow */
  background-size: 12px; /* Adjust arrow size */
  border-radius: 2xl; /* Add border radius */
}

.custom-select1:hover, .custom-select:focus {
  background-color: transparent; /* Remove background color on hover and focus */
  outline: none; /* Remove outline */
}

.custom-select1.custom-select1:dropdown{
  border: none;
}


.bubble-container {
  display: inline-block;
  word-wrap: break-word;
}

.text-white {
  color: #ffffff;
}

.chat-form {
  padding: 0.5rem; /* Adjusted padding to use rem units */
  position: relative;
  width: 100%;
  display: flex;
  justify-content: between;
  align-items: center;
}

.file-upload-container {
  width: 30px;
  position: relative;
}

.input-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.chat-input {
  width: calc(100% - 40px); /* Adjust width considering the button size */
  padding-right: 2.5rem; /* Space for the send button */
}

.send-button {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Customize the Switch component */
.ant-switch-checked {
  background-color: #006665; /* Your custom green color */
}

.ant-switch-checked .ant-switch-inner {
  background-color: #006665; /* Your custom green color */
}

.ant-switch {
  border-color: #006665; /* Your custom green color */
}

.ant-switch-checked:not(.ant-switch-disabled):hover {
  background-color: #006665; /* A different shade of green for hover state */
}

.ant-switch-checked:focus {
  box-shadow: none; /* Remove focus outline */
}

/* Customize the filter dropdown and checkboxes */
.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  color: #006665; /* Change text color to green */
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: #006665; /* Light green background on hover */
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #006665; /* Your custom green color */
  border-color: #006665; /* Your custom green color */
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner {
  border-color: #006665; /* Your custom green color */
}

.ant-checkbox-checked::after {
  border-color: #006665; /* Your custom green color */
}

/* Customize the sort arrows */
.ant-table-column-sorter-up,
.ant-table-column-sorter-down {
  color: #006665; /* Your custom green color */
}

/* Customize the filter dropdown button */
.ant-dropdown-trigger,
.ant-dropdown-menu {
  color: #006665; /* Your custom green color */
}

/* Customize the search input */
.ant-table-filter-dropdown input {
  border-color: #006665; /* Your custom green color */
}

.ant-table-filter-dropdown input:focus {
  border-color: #006665; /* Your custom green color */
  box-shadow: none; /* Add green focus outline */
}

/* Customize the filter dropdown buttons */
.ant-table-filter-dropdown-btns .ant-btn-link {
  color: #006665; /* Your custom green color */
}

.ant-table-filter-dropdown-btns .ant-btn-link:hover {
  color: #004f4f; /* A different shade of green for hover state */
}

.ant-table-filter-dropdown-btns .ant-btn-primary {
  background-color: #006665; /* Your custom green color */
  border-color: #006665; /* Your custom green color */
}

.ant-table-filter-dropdown-btns .ant-btn-primary:hover {
  background-color: #004f4f; /* A different shade of green for hover state */
  border-color: #004f4f; /* A different shade of green for hover state */
}

/* Customize other buttons inside the dropdown */
.ant-dropdown-menu .ant-btn {
  background-color: #006665; /* Your custom green color */
  border-color: #006665; /* Your custom green color */
  color: #fff; /* Ensure text color is white for contrast */
}

.ant-dropdown-menu .ant-btn:hover {
  background-color: #004f4f; /* A different shade of green for hover state */
  border-color: #004f4f; /* A different shade of green for hover state */
}

.ant-dropdown-menu .ant-btn:focus {
  background-color: #004f4f; /* A different shade of green for focus state */
  border-color: #004f4f; /* A different shade of green for focus state */
  box-shadow: none; /* Remove default box shadow */
}
.custom-button {
  width: 90px;
  background-color: none;
  border-color: none;
  color: none;
}
.custom-button:hover {
  background-color: #004f4f; /* Darker green for hover state */
  border-color: #004f4f; /* Darker green border for hover state */
  color: #fff; /* White text color for hover state */
}

.custom-button:active {
  background-color: #003333; /* Even darker green for active state */
  border-color: #003333; /* Even darker green border for active state */
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}

/* Add this to your main CSS file or a component-specific CSS file */
.slick-prev, .slick-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  border-radius: 50%; /* Rounded shape */
  width: 40px;
  height: 400px !important;
  transition: color 0.3s ease;
}

.slick-prev:before, .slick-next:before {
  font-size: 20px; /* Adjust the size of the arrows if needed */
  color: #006665 !important; /* Initial arrow color */
}

.slick-prev:hover:before, .slick-next:hover:before {
  color: #FF8474 !important; /* Arrow color on hover */
}
/* Hide the Slick slider dots */
.slick-dots {
  display: none !important;
}

.no-events-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 200px; /* Adjust based on your layout */
}

.no-events-message {
  text-align: center;
  font-size: 18px; /* Adjust font size as needed */
}










