
 .ant-menu-submenu-selected.ant-menu-submenu-selected > .ant-menu-submenu-title{
  color: #FF8474 !important;
  background-color: #FFEAE8 !important;
}

.ant-menu-submenu-selected.ant-menu-submenu-selected:hover > .ant-menu-submenu-title {
    background-color: #FFEAE8 !important;
  }


  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .sidebar-container {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white; /* Adjust as needed */
    overflow-y: auto;
    width: 60px; /* Default width */
  }
  
  @media (min-width: 800px) {
    .sidebar-container {
      width: 250px; /* Width for larger screens */
    }
  }

  .logout-text {
    color: black; /* Ensure the text is visible */
    padding-left: 24px; /* Align with other menu items */
  }


  /* Add space between icons and arrows in submenu titles */
@media (max-width: 600px) {
  .ant-menu-submenu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* Hide submenu arrow on small screens */
@media (max-width: 768px) {
  .ant-menu-submenu-arrow {
    display: none;
  }
}

/* Or adjust submenu arrow position */
/* .ant-menu-submenu-arrow {
  margin-right: 8px;
} */


  
  